[Unit]
Description=Run the Wheel of Beer service

[Service]
Type=oneshot
ExecStart=/home/pi/wheelofbeer/beerServiceScript start
ExecStop=/usr/bin/beerservice stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
