[Unit]
Description=Run the Wheel of Beer service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/pi/wheelofbeer/
ExecStart=/home/pi/wheelofbeer/beerServiceScript start
ExecStop=/usr/bin/beerservice stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
