[Unit]
Description=Run the Wheel of Beer service
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/home/pi/wheelofbeer/
ExecStart=/home/pi/wheelofbeer/wheelofbeerserviceScript start
ExecStop=/home/pi/wheelofbeer/wheelofbeerserviceScript stop
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
