[Unit]
Description=Run the Wheel of Beer service
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/home/pi/wheelofbeer/
ExecStart=/usr/bin/node index.js
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
